@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {
    html,
    body {
        @apply m-0 p-0 bg-gray-100;
    }

    *:focus {
        outline: none;
    }

    button:disabled {
        cursor: default;
    }
}
